{
	"update1": {
		"SWITCH": "s1",
		"TABLE_NAME": "MyIngress.ipv4_lpm",
		"MATCH_FIELDS": {
			"hdr.ipv4.dstAddr": ["10.0.1.11", 32]
		},
		"ACTION": "MyIngress.ipv4_forward",
		"ACTION_PARAMS": {
			"port": 1
		}
	},
	"update2": {
		"SWITCH": "s1",
		"TABLE_NAME": "MyIngress.ipv4_lpm",
		"MATCH_FIELDS": {
			"hdr.ipv4.dstAddr": ["10.0.2.22", 32]
		},
		"ACTION": "MyIngress.ipv4_forward",
		"ACTION_PARAMS": {
			"port": 2
		}
	},
	"update3": {
		"SWITCH": "s1",
		"TABLE_NAME": "MyIngress.ipv4_lpm",
		"MATCH_FIELDS": {
			"hdr.ipv4.dstAddr": ["10.0.3.33", 32]
		},
		"ACTION": "MyIngress.ipv4_forward",
		"ACTION_PARAMS": {
			"port": 3
		}
	},
	"update4": {
		"SWITCH": "s2",
		"TABLE_NAME": "MyIngress.ipv4_lpm",
		"MATCH_FIELDS": {
			"hdr.ipv4.dstAddr": ["10.0.1.11", 32]
		},
		"ACTION": "MyIngress.ipv4_forward",
		"ACTION_PARAMS": {
			"port": 2
		}
	},
	"update5": {
		"SWITCH": "s2",
		"TABLE_NAME": "MyIngress.ipv4_lpm",
		"MATCH_FIELDS": {
			"hdr.ipv4.dstAddr": ["10.0.2.22", 32]
		},
		"ACTION": "MyIngress.ipv4_forward",
		"ACTION_PARAMS": {
			"port": 1
		}
	},
	"update6": {
		"SWITCH": "s2",
		"TABLE_NAME": "MyIngress.ipv4_lpm",
		"MATCH_FIELDS": {
			"hdr.ipv4.dstAddr": ["10.0.3.33", 32]
		},
		"ACTION": "MyIngress.ipv4_forward",
		"ACTION_PARAMS": {
			"port": 3
		}
	},
	"update7": {
		"SWITCH": "s3",
		"TABLE_NAME": "MyIngress.ipv4_lpm",
		"MATCH_FIELDS": {
			"hdr.ipv4.dstAddr": ["10.0.1.11", 32]
		},
		"ACTION": "MyIngress.ipv4_forward",
		"ACTION_PARAMS": {
			"port": 2
		}
	},
	"update8": {
		"SWITCH": "s3",
		"TABLE_NAME": "MyIngress.ipv4_lpm",
		"MATCH_FIELDS": {
			"hdr.ipv4.dstAddr": ["10.0.2.22", 32]
		},
		"ACTION": "MyIngress.ipv4_forward",
		"ACTION_PARAMS": {
			"port": 3
		}
	},
	"update9": {
		"SWITCH": "s3",
		"TABLE_NAME": "MyIngress.ipv4_lpm",
		"MATCH_FIELDS": {
			"hdr.ipv4.dstAddr": ["10.0.3.33", 32]
		},
		"ACTION": "MyIngress.ipv4_forward",
		"ACTION_PARAMS": {
			"port": 1
		}
	}
}