{
	"update2": {
		"SWITCH": "s1",
		"TABLE_NAME": "MyIngress.ipv4_lpm",
		"MATCH_FIELDS": {
			"hdr.ipv4.dstAddr": ["10.0.2.22", 32]
		},
		"ACTION": "MyIngress.ipv4_forward",
		"ACTION_PARAMS": {
			"port": 2
		}
	},
	"update5": {
		"SWITCH": "s2",
		"TABLE_NAME": "MyIngress.ipv4_lpm",
		"MATCH_FIELDS": {
			"hdr.ipv4.dstAddr": ["10.0.2.22", 32]
		},
		"ACTION": "MyIngress.ipv4_forward",
		"ACTION_PARAMS": {
			"port": 1
		}
	}
}